<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homepage | Petopia</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script src="../static/JS/index.js" defer></script>
    <script src="static/JS/forms.js" defer> </script>
    <link rel="icon" type="image/png" href="../static/Images/paw.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <div class="navigation">
            <button class="nav"><a href="/createpost">Create New Post</a></button>
            <div class="logo-container">
                <a href="/">
                <img src="../static/Images/petopia.png" alt="Logo" class="logo">
                </a>
            </div>
            <button class="nav"><a href="/userprofile">Account</a></button>
        </div>
    </div>

    <div class="container">
        <div class="post-header">Available Adoptables</div>
            <div class="container" style="width: 100%">
                {{#each pets}}
                <div class="post">
                    <div class="wrapper">
                        <div class="left">
                            <img class="userpic" src="../static/Images/pets/dog2.jpg" alt="user" width="100">
                            <h4>{{ petname }}</h4>
                        </div>

                        <div class="right">
                            <div class="info">
                                <h3>Information</h3>
                                <div class="info_data">
                                    <div class="data">
                                        <h4>Fur Type</h4>
                                        <p>{{ furtype }}</p>
                                    </div>
                                    <div class="data">
                                        <h4>Weight</h4>
                                        <p>{{ weight }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="interests">
                                <h3>Likes</h3>
                                <div class="interests_data">
                                    <div class="data">
                                        <h4>Likes</h4>
                                        <p>{{ likes }}</p>
                                    </div>
                                    <div class="data">
                                        <h4>Dislikes</h4>
                                        <p>{{ dislikes }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
    </div>

</body>
</html>
